<!DOCTYPE html>
<html lang="en">
<head>
    <title>CoursesFoU</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
<body>
    {{>navbar}}
    <h1>HII WELCOME TO COURSEFOU !!</h1>
    {{>adminmain url="v1/admin" text="Admin Here"}}
    <a href = "/v1/user/signin">SIGNIN</a>
    <a href = "/v1/user/signup">SIGNUP</a>
</body>
</html>
