<!DOCTYPE html>
<html lang="en">
<head>
    <title>CoursesFoU</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
<script>
    async function usersignup() {
        const email = document.getElementById("signup-email").value;
        const password = document.getElementById("signup-password").value;
        const firstName = document.getElementById("firstname").value;
        const lastName = document.getElementById("lastname").value;

        try {
            const response = await axios.post("http://localhost:3001/v1/user/signup", {
                email: email,
                password: password,
                firstName: firstName,
                lastName: lastName
            });

            if (response.data.message === "You are signed up") {
                alert("You are signed up!"); // Success message
            } else {
                alert("Unexpected response: " + JSON.stringify(response.data));
            }
            
        } catch (error) {
            if (error.response && error.response.data) {
                if (error.response.data.message) {
                    alert(error.response.data.message);
                }
                else if (error.response.data.error) {
                    const validateErrors = error.response.data.error
                        .map((err) => err.message)
                        .join("\n")
                    alert("Validation errors:\n" + validateErrors);
                } else {
                    alert("An unknown error occured!");
                }

            } else {
                alert("Signup failed! Please try again.");
            }
                
        }
    }

</script>
<body>
    <div>
        <h1>User Signup</h1>
        <input id="signup-email" type="text" name="email" placeholder="Email">
        <input id="signup-password" type="password" name="password" placeholder="Password">
        <input id="firstname" type="text" name="firstname" placeholder="First Name">
        <input id="lastname" type="text" name="lastname" placeholder="Last Name">
        <button onclick="usersignup()">Submit</button>
    </div>
</body>
</html>
