<!DOCTYPE html>
<html lang="en">
<head>
    <title>CoursesFoU</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
<script>
    async function usersignin() {
        const email = document.getElementById("signin-email").value;
        const password = document.getElementById("signin-password").value;

        try {
            const response = await axios.post("http://localhost:3001/v1/user/signin", {
                email: email,
                password: password
            });
            alert("You are signed in!"); // Success message
        } catch (error) {
            console.error(error);
            alert("Signup failed! Check your input or server.");
        }
    }
</script>
<body>
    <div>
        <h1>User signin</h1>
        <input id="signin-email" type="text" name="email" placeholder="Email">
        <input id="signin-password" type="password" name="password" placeholder="Password">
        <button onclick="usersignin()">Submit</button>
    </div>
</body>
</html>
